<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/article.css">
  <title>Article Page</title>
</head>
<body>
<main>
  <div class="card" th:if="${article} != null">
    <h1 class="card_text" th:text="${article.title}"></h1>
    <span class="card_fecha" th:text="${#dates.format(article.createdAt,'MMMM d, yyyy')}"></span>
    <p class="card_content" th:text="${article.content}"></p>
  </div>
  <h1 class="message" th:if="${article} == null">No existe este articulo</h1>
</main>
</body>
</html>