<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
<main class="text-gray-600 body-font relative container px-5 py-24 mx-auto">
  <div class="lg:w-1/2 md:w-2/3 mx-auto">
    <div th:if="${article != null}" class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Edit Article</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Ingrese los datos a editar</p>
    </div>
    <form th:if="${article != null}" th:action="@{/admin/edited}" method="post">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="id" class="leading-7 text-sm text-gray-600">ID:</label>
            <input readonly type="text" th:value="${article.id}" id="id" name="id"
                   required
                   class="w-full bg-gray-100 bg-opacity-80 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="title" class="leading-7 text-sm text-gray-600">Title</label>
            <input required th:value="${article.title}" type="text" id="title" name="title"
                   class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="fecha" class="leading-7 text-sm text-gray-600">Fecha</label>
            <input required th:value="${#dates.format(article.createdAt,'yyyy-MM-dd')}" type="date"
                   id="fecha" name="fecha"
                   class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="content" class="leading-7 text-sm text-gray-600">Content</label>
            <textarea required th:text="${article.content}" id="content" name="content"
                      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button type="submit"
                  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Update
          </button>
        </div>
      </div>
    </form>
    <h1 th:if="${article == null}"
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">No existe este
      articulo</h1>
  </div>
</main>
</body>
</html>