<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Personal Blog</title>
</head>
<body>
<main class="container px-5 py-24 mx-auto text-gray-600 body-font">
  <div class="flex flex-col text-center w-full mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Personal Blog</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Lista de publicaciones</p>
  </div>
  <div th:each="article: ${articles}" class="flex flex-wrap -m-2">
    <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
      <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <div class="flex flex-grow justify-between">
          <a th:text="${article.title}" th:href="@{/article/{id}(id=${article.id})}"
             class="text-gray-900 title-font font-medium"></a>
          <span th:text="${#dates.format(article.createdAt,'MMMM d, yyyy')}"
                class="text-gray-500"></span>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>